.vscode
.DS_Store
*.log
*.tmp
*.cache
*.zip
*.tar.gz
*.rar
*.exe


node_modules
target
dist
tests
test
deploy
app/logs

temp
.idea

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches
!.yarn/versions