@use "./font";
@use "./animate";

:root {
  --amll-lp-color: white;
}

html,
body {
  font-family: "HarmonyOS Sans SC", system-ui;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  color: transparent;
  font-size: 0;
}

img:not([src]) {
  visibility: hidden;
}

img[src=""] {
  visibility: hidden;
}
